node_modules
**/node_modules
**/.pnpm-store
dist
**/dist
.git
.gitignore
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
*.log
**/*.log
.turbo
**/.turbo
coverage
**/coverage
.nyc_output
**/.nyc_output
.DS_Store
**/.DS_Store
*.md
!README.md
.vscode
.idea
devops/docker-compose*.yml
infrastructure/
!infrastructure/nginx/
!infrastructure/nginx/*.conf
documentation/
target
**/target
